/*
* Autor: Florian Filler 
* Date: 15.11.2012
* Update: Leon Bergmann - 21.11.2012 20:00 Uhr 	
*/
body
{
    font-family:Helvetica; 
    font-size: 18px;
}

#head
{
	width: 100%;
	height: 50px;
	display: block;
	top: 0px;
	left: 0px;
	position: fixed;
	display: block;
	margin: 0px;
	padding: 0px;
}

.menu 
{
	position: absolute;
	display: block;
	width: 100%;
	height: 45px;
	background-color: #333;
	
}
.menu ul
{
	list-style-type: none;
	padding: 0px;
    margin: 0px;
}
 
.menu ul li
{
    display: block;
    float: left;
    height: 45px;
    width: calc(100% / 6 - 10px);
}
 
.menu ul li a
{
	padding-left: 20px;
	padding-top: 10px;
	height: calc(100% - 10px);
	display: block;
	text-decoration: none;
	color: white;      
}
 
.menu ul li a:visited
{
    color: white;
}
 
.menu ul li a:hover, .menu ul li:hover
{
    color: #fff;
    background-color: #0b75b2;
    font-style: italic;
}
    

#content
{
	margin-top: 100px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

table {
  border:2px solid #525d73;
  border-spacing:0;
  border-collapse:collapse;
  font-size:12pt;
}

table tr td, table tr th
{
  border:1px solid #525d73;
  padding:0 5px;
}

.info, .success, .warning, .error, .validation
{
    position: relative;
    top: 40px;
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info.login, .success.login, .warning.login, .error.login, .validation.login
{
	top: 0px;
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
/*     background-image: url('info.png'); */
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
/*     background-image:url('success.png'); */
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    /* background-image: url('warning.png'); */
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    /*background-image: url('error.png');*/
}
/** Header **/

h2
{
 font-weight: lighter;
 font-style: italic;
}

.form
{

}

.form ul
{
	min-width: 400px;
	max-width: 80%;
	list-style-type: none;
}
.form ul li
{
	width: 400px;
	height: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	float: none;
	display: block;
	
}
.form ul li label
{
	display: block;
	min-width: 30%;
	max-width: 50%;
	float: left;
	font-size: 16px;
	font-weight: lighter;
	font-style: oblique;
}

.form ul li input 
{
	display: block;
	min-width: 50%;
	max-width: 30%;
	float: right;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	border: 1px solid #333;
	font-style: italic;
}

.form .formbutton
{
	background-color: #333;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: white;
	padding: 3px;
	border-radius: 5px;
}

a
{
 color: blue;
}

#login
{
	width: 450px;
	height: 250px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px; 
	border: 2px solid #333;
	border-radius: 8px;
	background-color: rgba(211,211,211,1);
	box-shadow: 0px 4px 20px black; 
}

#login ul
{
	min-width: 400px;
	max-width: 80%;
	list-style-type: none;
}

#login ul li
{
	width: 400px;
	height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	float: none;
	display: block;
	
}
#login ul li label
{
	display: block;
	min-width: 30%;
	max-width: 50%;
	float: left;
	font-size: 16px;
	font-weight: lighter;
	font-style: oblique;
}

#login ul li input 
{
	display: block;
	min-width: 50%;
	max-width: 30%;
	float: right;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border: 1px solid #333;
	font-style: italic;
	box-shadow: 0px 0px 2px black;
	border-radius: 5px;
}

#login ul li input:hover
{
	box-shadow: 0px 0px 8px black;
}

#login ul li input:focus
{
	box-shadow: 0px 0px 8px black;
}
#login .formbutton
{
	background-color: #333;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: white;
	padding: 3px;
	border-radius: 5px;
}