html
{
  width: 100%;
  height: 100%;
  background-color: #EAEAEA;
}

#head
{
  width: 80%;
  height: 80px;
  background-color: gray;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
}

#head ul 
{
  width: 80%;
  list-style-type: none;
}

#head ul li
{
  float: left;
  width: calc(100% / 3);
  height: 100%;
}

#head ul li a
{
  color: white;
  font-size: 16px;
  font-family: Helvetica;
  font-weight: light;
  font-style: italic;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-top: 5px;
  height: calc(100% - 20px);
}

.hover
{
  width: 0px;
  height: 0px;
  border-bottom: 30px solid #EAEAEA;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent; 
  margin-left: auto;
  margin-right: auto;
}

.content
{
	width: 80%;
	min-height: 400px;
	height: : 60%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}


#content h1
{
	font-family: Helvetica;
	font-style: oblique;
	font-weight: lighter;
}

#content p
{
	text-align: justify;
	display: block;
}

#content h2
{}

.headLink img
{
	height: 60px;
	width: auto;
}

.app
{
  display: inline-block;
  width: 250px;
  height: 165px;
  color: white;
  text-align: center;
  font-size: 1.5em;
  margin-top: 25px;
  box-shadow: 0px 2px 15px rgba(5,5,5, 0.5);
  margin-left: 25px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.app:hover
{
	box-shadow: 3px 9px 15px rgba(5,5,5, 0.7); 
}

div#settings.app
{
	background-color: rgb(57, 171, 62) !important;
	background-image: url("images/settings.png");
}

div#dokuments.app
{
	background-color: rgb(150,5,5);
	background-image: url("images/documents.png");

}

div#news.app
{
	background-color: rgb(5,5,150);
	background-image: url("images/news.png");
}

div#mails.app
{
	background-color: rgba(5,131,133,1);
	background-image: url("images/mail.png");
}

div#plan.app
{
	background-color: rgba(217,136,15,1);
	background-image: url("images/plan.png");
}

div#stock.app
{
	background-color: rgba(82,0,75,1);
	background-image: url("images/stock.png");
}