
#head
{
	width: 100%;
	height: 10%;
	position: fixed;
	max-height: 120px;
	min-height: 50px;
	display: block;
	background-color: #008141;
	top: 0px;
	left: 0px;
}

#logo
{	
	float: left;
	height: 100%;
	width: auto;
}

#logo img
{
	display: block;
	height: 100%;
}

#headMenu
{
	width: 100%;
	height: 100%;
	display: block;
}

#headMenu ul
{
	display: block;
	margin-top: 0px;
	height: 100%;
	list-style-type: none;
}

#headMenu ul li 
{
	float: left;
	display: block;
	width: calc(100% / 5);
	height: 100%;
	border-right: 1px solid black;
}

#headMenu ul li a
{
	text-align: center;
	display: block;
	padding-top: 20px;
	height: calc(100% - 20px) !important;
	width: 100% !important;
}

#headMenu ul li a:hover
{
	background-color: white;
}


#leftSiteMenu
{
	height: 80%;
	width: 10%;
	max-width: 200px;
	min-width: 100px;
	float: left;
	margin-top: 100px;
	left:0px;
	position: fixed;
	background-color: #008141;
}

#body
{
	width: 80%;
	margin-top: 80px;
	float: right;
	margin-left: auto;
	margin-right: auto;
}